{# Section with SEO desc for blog, categories and case studies archive pages #}

<section class="content__section section-seo section--no-padding">
	<div class="viewport viewport--article text--rich">
		{{ content }}
	</div>
</section>
