{% extends "layout/base.twig" %}

{% block body %}

	<h1>taxonomy.twig</h1>


	<p>List of posts</p>

	<ul>
		{% for post in posts %}
			<li>
				<a href="{{post.link}}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
