form {
    input,
    select,
    textarea,
    button {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 1em;
    }

    label {
        display: block;
        color: $black;
        font-size: 0.813em;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    input,
    textarea {
        width: 100%;
    }

    textarea {
    }

    button,
    input[type="submit"] {
        cursor: pointer;

        @media (min-width: $breakpoint_mobile + 1px) {
            width: auto;
        }
    }
}
