//text related modifiers and overrides for rich text <article> elements generated via WYSIWYG

//rich-text styles wrapped in "static" mixin to reuse it as .mceContentBody editore override for dashboard, see editor.scss
@mixin rich-text {
    h1,
    h2 {
    }
    h3 {
        margin-bottom: 1rem;
    }

    blockquote {
    }

    ul,
    ol {
        list-style-type: disc;
        padding-left: 3rem;
        margin: 0 0 2rem;
        text-align: left;

        @media all and (max-width: $breakpoint_mobile) {
            padding-left: 2rem;
        }

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol {
        list-style-type: decimal;
    }

    a {
        &:not(.button) {
            color: $blue;
            text-decoration: underline;

            @media (hover: hover) {
                &:hover {
                    color: $black;
                }
            }
        }
    }

    p,
    li {
        line-height: 1.75;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    li {
        li,
        p {
            font-size: 1em;
            margin: 1rem 0;
        }
    }

    //images
    figure {
        margin-bottom: 2rem;
        &:not(.ui-ico) {
            width: 100% !important; //override WordPress markup
        }
        img {
            margin-bottom: 0;
        }
        figcaption {
            font-size: 0.875em;
            color: #a3a8ac;
            margin: 0.5rem 0 1rem;
        }
        //WordPress class
        &.aligncenter {
            text-align: center;
            img {
                width: auto;
            }
        }

        @media (max-width: $breakpoint_mobile) {
            margin-bottom: 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 1rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        //WordPress classes
        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
        &.alignright {
            float: right;
            margin: 0 0 1em 1em;
        }
        &.alignleft {
            float: left;
            margin: 0 1em 1em 0;
        }
    }

    > * {
        &:last-child {
            margin-bottom: 0;
            //Unfortunately, when using WP Formats, inserted paragraphs are nested into additional <div>

            > * {
                margin-bottom: 0;
            }
        }
    }
}

.text--rich {
    @include rich-text;
}

.text--center {
    @include center-text;
}
.text--center-mobile {
    @media (max-width: $breakpoint_mobile) {
        @include center-text;
    }
}
.text--white,
.text--white * {
    color: #fff;

    strong,
    a {
        color: #fff;
    }
}

.text--regular {
    p {
        @include paragraph-regular;
    }
}

.text--medium {
    p {
        @include paragraph-medium;
    }
}
.text--big {
    p {
        @include paragraph-big;
    }
}
.text--header {
    p {
        @include paragraph-header;
    }
    &:last-child {
        p {
            margin-bottom: 0;
        }
    }
}
