h1,
h2,
h3 {
    font-weight: 700;
    color: $black;
}

h1,
h2,
h3,
h4 {
    &:first-child {
        margin-top: 0;
    }
}

h1 {
    @include header-big;
}
h2 {
    @include header-regular;
}
h3 {
    //ivision reference: "Jak pozycjonujemy" @ mobile-Oferta-single

    @include header-small;
    color: $black;
    font-weight: bold;

    @media (max-width: $breakpoint_phone-big) {
        font-size: 1.375em;
    }
}
h4 {
    @include header-small;
    color: $black;
}
h5 {
    font-size: 0.813rem;
    font-weight: 500;
    color: $skyblue;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    letter-spacing: 0.125rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;

    @include paragraph-regular;

    &.p--medium {
        @include paragraph-medium;
    }
    &.p--big {
        @include paragraph-big;
    }
    &.p--header {
        @include paragraph-header;
    }
}
