//overrides partials/listing/post.scss
.item--casestudy {
    text-align: center;

    .item__layout {
        //grid-template-rows: repeat(7, auto);
        grid-template-rows: auto;
    }

    .item__cover {
        //grid-row: 1 / span 6;
        grid-row: 1 / span 2;

        figure {
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }

        &::after {
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 75%);
        }
    }

    .item__meta {
        //grid-row: 4 / span 3;
        grid-row: 2;
    }

    .tags__list {
        justify-content: center;
    }

    h3 {
        max-width: 20rem;
        margin: 0 auto;
    }

    @media (max-width: $breakpoint_mobile) and (min-width: $breakpoint_phone-big + 1px) {
        .item__layout {
            .item__cover {
                grid-row: 1 / span 10;
            }
            .item__meta {
                grid-row: 8 / span 2;
            }
        }
    }
}

.section--lightgray {
    .item--casestudy {
        .item__cover {
            &::after {
                background: linear-gradient(0deg, $lightgray 30%, rgba(255, 255, 255, 0) 75%);
            }
        }
    }
}
