<div class="section__testimonial">

	<figure class="ui-ico">
		{{ source('assets/svg/quote.svg', ignore_missing = true) }}
	</figure>
	<blockquote class="testimonial__text">{{section.section_testimonial.section_quote}}</blockquote>
	<span class="testimonial__author">{{section.section_testimonial.section_quote_author}}</a>

</div>
