{% extends "components/modal/modal.twig" %}

{% block modal_content %}

	<h3 class="modal__title">{{ __('Bezpłatna analiza i wycena', 'theme') }}</h3>

	{% include 'components/form/contact-form.twig' %}

{% endblock %}
